@font-face {
	font-family: font;
	src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: font, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.light {
	--bttnBorder: rgb(170, 169, 169);
	--numbers: #c7e3e0;
	--numbersShadow: #aac4c1;
	--operators: #e1c1c1;
	--operatorsShadow: #c4aaaa;
	--other: #cee4ef;
	--otherShadow: #b0c3cc;
	--display: rgb(244, 244, 244);
	--displayShadow: rgb(216, 216, 216);
	--border-top: rgb(156, 156, 156);
	--border-bottom: rgb(85, 85, 85);
	--background: rgb(212, 212, 212);
	--backgroundShadow: rgb(149, 149, 149);
	--letters: black;
	--back: 
		background-color: #fdfdfd;
		background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #fdfdfd 10px ), repeating-linear-gradient( #e3e3da55, #e3e3da );
}

.dark {
	--bttnBorder: rgb(157, 157, 157);
	--numbers: #476260;
	--numbersShadow: #31403e;
	--operators: #624b4b;
	--operatorsShadow: #493838;
	--other: #495860;
	--otherShadow: #3b464b;
	--display: rgb(74, 74, 74);
	--displayShadow: rgb(55, 55, 55);
	--border-top: rgb(79, 79, 79);
	--border-bottom: rgb(53, 53, 53);
	--background: rgb(83, 83, 83);
	--backgroundShadow: rgb(50, 50, 50);
	--letters: white;
	--back: 
		background-color: #393b3e;
		background-color: #393b3e;
		background-image:  linear-gradient(#585b5f 2px, transparent 2px), linear-gradient(90deg, #585b5f 2px, transparent 2px), linear-gradient(#585b5f 1px, transparent 1px), linear-gradient(90deg, #585b5f 1px, #393b3e 1px);
		background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
		background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

body {
	display: grid;
	grid-template-rows: 70px 1fr;
	width: 100vw;
	height: 100vh;
	justify-items: center;
	align-items: center;
	background-color: var(--back);
	color: var(--letters);
}

#colors {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

#colors button {
	background-color: var(--display);
	color: var(--letters);
	font-size: 15px;
	font-weight: 600;
	border: 1px solid var(--bttnBorder);
	border-radius: 7px;
	padding: 10px;
}

#colors button:hover {
	transform: scale(1.1);
}

#container {
	display: flex;
	flex-direction: column;
	width: 430px;
	height: 560px;
	background: var(--background);
	border-radius: 10px;
	padding: 20px;
	gap: 10px;
	border-top: 1px solid var(--border-top);
	border-left: 1px solid var(--border-top);
	border-right: 1px solid var(--border-bottom);
	border-bottom: 1px solid var(--border-bottom);
	box-shadow: inset 0 0 15px var(--backgroundShadow);
}

#display {
	width: 100%;
	height: 20%;
	background: var(--display);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 0 8px;
	border-top: 1px solid var(--border-top);
	border-left: 1px solid var(--border-top);
	border-right: 1px solid var(--border-bottom);
	border-bottom: 1px solid var(--border-bottom);
	box-shadow: inset 0 0 15px var(--displayShadow);
}

#currentOperation {
	font-size: 23px;
	overflow: hidden;
}

#result {
	font-size: 50px;
	overflow: hidden;
}

#buttons {
	display: flex;
	flex-flow: row wrap;
	gap: 3px;
}

.bttn:active {
	transform: scale(1.05);
}

.bttn {
	color: var(--letters);
	flex: 1 90px;
	height: 80px;
	border-radius: 6px;
	border-top: 1px solid var(--border-top);
	border-left: 1px solid var(--border-top);
	border-right: 1px solid var(--border-bottom);
	border-bottom: 1px solid var(--border-bottom);
	font-size: 25px;
}

.number {
	background-color: var(--numbers);
	box-shadow: inset 0 0 15px var(--numbersShadow);
}

.other {
	flex: 2 180px;
	box-shadow: inset 0 0 15px var(--otherShadow);
	background-color: var(--other);
}

.operators {
	background-color: var(--operators);
	box-shadow: inset 0 0 15px var(--operatorsShadow);
}

/* RESPONSIVE ################################### */

@media (max-width: 450px) {
	#colors {
		gap: 20px;
	}

	#container {
		width: 300px;
		height: 400px;
		padding: 5px;
		gap: 5px;
	}

	#display {
		padding: 0 5px;
		border: 1px solid var(--borders);
	}

	#currentOperation {
		font-size: 18px;
	}
	
	#result {
		font-size: 30px;
	}
	
	#buttons {
		gap: 2px;
	}
	
	.bttn {
		flex: 1 70px;
		height: 60px;
		border: 1px solid var(--borders);
		font-size: 22px;
	}

	#clear, #delete {
		flex: 2 140px;
	}
}

@media (max-width: 305px) {

	#container {
		width: 200px;
		height: 270px;
		padding: 3px;
		gap: 3px;
	}

	#display {
		padding: 0 3px;
	}

	#currentOperation {
		font-size: 12px;
	}
	
	#result {
		font-size: 20px;
	}
	
	#buttons {
		gap: 1px;
	}
	
	.bttn {
		flex: 1 43px;
		height: 40px;
		font-size: 16px;
	}

	#clear, #delete {
		flex: 2 86px;
	}
}